.html {
  font-size: 100%;
  width: 1440px;
  height: 2230px;
  background: #ffffff;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  padding: 0 4%;
}

a {
  text-decoration-line: none;
}

#logo {
  width: 148px;
  height: 27.53px;
  max-width: 100%;
}

.main-nav {
  display: flex;
  font-size: 14px;
  width: 308px;
  height: 50px;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  font-family: "Noto Sans JP", sans-serif;
}

.nav1 {
  font-style: normal;
  color: #666666;
  font-weight: 70px;
  font-size: 14px;
}
.nav2 {
  color: #666666;
}
.nav3 {
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  border: 1px solid #eeeeee;
  position: relative;
}

.twitter {
  position: relative;
  top: 6px;
}
.nav4 {
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  border-radius: 50px;
  border: 1px solid#eeeeee;
}
.insta {
  position: relative;
  top: 7px;
}




.main-content {
  position: absolute;

}

.photo {
  position: relative;
  right: 0px;
  top: 0px;
  width: 976px;
  height: 680px;
  border-radius: 80px 0px 80px 0px ;
  z-index: 1;
}
.section-wrapper{
  position: relative;
  width: 500px;
  height: 281px;
background: #eff2f5;
border-radius: 24px;
z-index: 2;
}
